<!DOCTYPE html>
<html class="teeth">
    <head>
        <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
        <link rel="stylesheet" href="../css/potato.css">
        <script src="../node_modules/vue/dist/vue.js"></script>
        <title>פתיתים</title>
    </head>
    <body>
        <div class="foods">
        <center>
        <div style="text-align:center">
        <h1 class="title is-1">מערכת פתיתי"ם</h1>
        <h1 class="title is-4">למען עתיד טוב יותר</h1>
        </div>
        <br><br><br><br>
        <div dir="rtl">
            <input type="text" v-model="currName" placeholder="שם המאכל"><br>
            <label class="radio">
                    <input type="radio" name="question" value="כן" v-model="currIsPtitim">
                    פתיתים
                  </label>
            <label class="radio">
                    <input type="radio" name="question" value="לא" v-model="currIsPtitim">
                    לא פתיתים
            </label>
            <div>
                <button class="button is-primary"
                        v-on:click="addFood({name: currName, isPtitim: isPtitimBoolean(currIsPtitim)})">
                    הוספה
                </button>
            </div>
            <br><br>
            <input type="text" v-model="currSearch" placeholder="חיפוש"><br>
        </div>
        <br>
        <div v-if="doneFoodList().length > 0" class="table is-hoverable teeth" dir="rtl">
            <table class="dog" dir="rtl">
                <tr>
                    <th style="text-align:right">שם המאכל</th>
                    <th style="text-align:right">האם פתיתים?</th>
                    <th></th>
                </tr>
                <tr v-for="(food, index) in doneFoodList()">
                    <td style="text-align:right">{{food.name}}</td>
                    <td style="text-align:right">{{isPtitimString(food.isPtitim)}}</td>
                    <td style="text-align:center">
                        <button v-if="food.name != 'עמבה' && food.name != 'פסטה'" class="button is-danger" style="text-align: center" v-on:click="removeFood(index)">
                            הסר
                        </button>
                        <button v-if="food.name == 'פסטה'" class="button is-warning" style="text-align: center" v-on:click="removeFood(index)">
                            הסר
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="doneFoodList().length == 0" style="text-align:center">
            <br>
            <h1 class="title is-3">אין פריטים להצגה</h1>
        </div>
        </center>
        </div>
    </body>
</html>

<script>
    var app = new Vue({
        el: '.foods',
        data: {
            foodlist: [],
            isPtitimString: function(isPtitimBoolean) {
                if (isPtitimBoolean) {
                    return "כן";
                } else {
                    return "לא";
                }
            },
            isPtitimBoolean: function(isPtitimString) {
                if (isPtitimString == "כן") {
                    return true;
                } else {
                    return false;
                }
            },
            currName: '',
            currIsPtitim: false,
            currIndex: 0,
            addFood: function(newFood) {
                if (newFood.name == '') {
                    alert("לא ניתן להוסיף מאכל ריק");
                    return;
                }
                if (newFood.name == 'שקם') {
                    alert("יחפשן");
                }
                this.foodlist.push(newFood);
                this.currName = '';
                this.currIsPtitim = false;
                this.currIndex++;
            },
            removeFood: function(indexToRemove) {
                this.foodlist.splice(indexToRemove, 1);
            },
            currSearch: '',
            doneFoodList: function() {
                if (this.currSearch == "גסטרונום") {
                    return this.foodlist;
                }
                return this.foodlist.filter(food => food.name.includes(this.currSearch));
            }
        }
    })
</script>